<h1>Car Information</h1>
<form action="/view_all_cars">
  <label for="new-car">Add Car Model</label>
  <input id="new-car" name="new-car" type="text">
  <button type="submit">Submit</button>
</form>

<form action="/view_all_cars">
  <label for="new-price">Add Car price</label>
  <input id="new-price" name="new-price" type="text">
  <button type="submit">Submit</button>
</form>

<form action="/view_all_cars">
  <label for="new-miles">Add Car miles</label>
  <input id="new-miles" name="new-miles" type="text">
  <button type="submit">Submit</button>
</form>
