<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Information</title>
  </head>
  <body>
    <h1>Car Information</h1>
    <form action="/view_all_cars">
      <label for="new-model">Add Car Model</label>
      <input id="new-model" name="new-model" type="text">
      <label for="new-price">Add Car Price</label>
      <input id="new-price" name="new-price" type="text">
      <label for="new-miles">Add Car Miles</label>
      <input id="new-miles" name="new-miles" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
