<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
  </head>
  <body>
    <h1>Car Information</h1>
    <p>Your Car model is: @Model.GetMakeModel()</p>
    <p>Your Car price is: @Model.GetPrice()</p>
    <p>Your Car miles is: @Model.GetMiles()</p>
  </body>
</html>

<p><a href="/">Add another Car</a></p>
